/************************************main**************************************/
body{
    font: 700 1em 'Open Sans', sans-serif;
    overflow: hidden;
    /*letter-spacing:.15em;*/
    width: 100%;
    height: 100%;
    background: black;

}
.container {
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 400%;
    text-align: justify;
    color: #FBCF00;
    transform: perspective(1000px) rotateX(35deg);
    transform-origin: 50% 80%;
}
.text-wrap{
    position: absolute;
    top: 100%;
    animation: scroller 30s linear infinite;


}
.some-text {
    margin: 1.5em 0 2em;
    line-height: 1.25em;
    text-align:center ;


}
/**********************************************Animations************************************/
@keyframes scroller {
    0% {
        top: 100%;
    }

    100% {
        top: -200%;
    }
}