/********************************************main***************************************************/
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    background: rgba(0, 0, 0, 0.0001);
}
/********************************************header****************************************************/
.color-blue{color:#4acbff;}
.company-logo{
    color:#4acbff;
    font-size: 80px;
    color: #000000;
    text-decoration: none;
    margin-top: 38px;
}
.header-menu{
    background: #35444F;
    text-align: center;
    margin-top: 38px;
    /*border-collapse: collapse;*/

}
.header-menu-link {
    display: inline-block;
    font-size: 24px;
    color: #FFFFFF;
    padding: 20px 38px;
    text-decoration: none;
    /*border-left:1px solid #000000;*/
    /*border-right:1px solid #000000;*/

    /*margin: 0 -1px 0 0;*/
    /*box-shadow: 0 0 0 1px black;*/
    box-shadow: 1px 1px #000;


}
.header-menu a:hover{
    background: #222F3A;
    cursor: url('../img/hover.png'),pointer;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    box-sizing: border-box;
    margin-left:-1px;
    margin-right: 1px;

}
/*********************************************left-menu*************************************************/
.left-menu{
    display: inline-block;
    width: 345px;
    border: 1px solid #000000;
    margin-top: 60px;
    /*margin-left: 14px;*/
    vertical-align: top;
}
.left-menu-link{
    display: block;
    font-size: 27px;
    color: #485863;
    text-decoration: none;
    padding:25px 0px 25px 45px;
}
.left-menu-link:hover{
    color: #35444F;
    cursor: url('../img/hover.png'),pointer;
    background:#DBDBDB;
    font-weight: bold;
    padding-left: 60px;

}
/*********************************************body******************************************************/
.article-content{
    display: inline-block;
    margin-top: 60px;
    width:889px;
    vertical-align: top;
    margin-left: 40px;
}
.main-content-box-img{
    background-size: auto;
    border: 1px solid #000000;
    padding: 75px 280px;
}
.main-content-img {
    display: inline-block;
   /* transition: 1.1s;*/
}
.main-content-img:hover {
    transform: scale(1.2);
    transition: 1.1s;
}
.main-content{
    font-size: 18px;
    line-height: 1.5;
    color: #2C2C2C;
}
.main-content-text{
    margin-top: 38px;
}
/**********************************************footer****************************************************/
.bottom-bar{
    background: rgba(99, 105, 110, 0.48);
    margin: 38px 0;
    padding: 30px 0;
}
.bottom-nav{display: inline-block}
.bottom-nav-link{
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    color: #0C1927;
    margin-left: 33px;
}
.copyright{
    display: inline-block;
    font-size: 24px;
    margin-left: 100px;
}
.bottom-nav-link:hover{
    color:#2c81a8;
    text-decoration: underline;
    cursor: url('../img/hover.png'),pointer;
}
