/********************************************main***************************************************/
.page-bg{
    font-family: 'Roboto', sans-serif;
    /*text-align: center;*/
    color: #FFFFFF;
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
.container{
    width: 1030px;
    margin: 0 auto;
}
/********************************************header****************************************************/
.header-logo-link{
    margin-top: 56px;
    float:left;
    display: inline-block;
}
.header-logo-img{
    float:left;
    width: 53px;
}
.header-logo-text-wrap{
    float: right;
    display: inline-block;
}
.header-logo-text{
    font-size: 29px;
    text-transform: uppercase;
    margin-left: 8px;
    color: #FFFFFF;
}
.header-logo-text-smaller{
    text-transform: uppercase;
    margin-top: 3px;
    font-size: 18px;
}
.header-phone{
    float:right;
    margin-top: 10px;
    color: #FFFFFF;
}
.header-mail{
    color: #FFFFFF;
}
.navbar-contacts{
    margin-top: 56px;
    float:right;
    margin-bottom: 8px;
}
/*********************************************header-hover**********************************************/
.header-logo-link:hover .header-logo-text,
.header-mail:hover,
.header-phone:hover
{
    color: #F26522;
}
.header-logo-link:hover .header-logo-img{
    content: url("../img/logo-hover.png");
}
/*********************************************body******************************************************/
.tour-item-link{
    width: 300px;
    float:left;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 27px;
}
.tour-item-link:nth-child(3n){
    margin-right: 0;
}
.tour-item{
    padding-top:177px;
}
.tour-shopping{
 background: url("../img/shopping.png") no-repeat center;
 background-size: cover;
}
.tour-Sightseeing{
    background: url("../img/sightseeing.png") no-repeat center;
    background-size: cover;
}
.tour-food{
     background: url("../img/food.png") no-repeat center;
    background-size: cover;
 }
.tour-bars{
    background: url("../img/bars.png")no-repeat center;
    background-size: cover;
}
.tour-art{
    background: url("../img/art.png") no-repeat center;
    background-size: cover;
}
.tour-walking{
    background: url("../img/walking.png") no-repeat center;
    background-size: cover;
}
.item-header{
    margin-top: 9px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
.item-details {
    opacity: 0;
    background: #F26522;
    box-sizing: border-box;
    height: 63px;
}
.item-details-price {
    float: left;
    font-size: 20px;
    margin-left:16px;
    margin-top: 7px;
    color: #FFFFFF;
}
.item-details-view {
    float: right;
    font-size: 14px;
    margin-top: 29px;
    padding-right: 10px;
    color: #FFFFFF;
}
/*********************************************psevdo***********************************************/
.item-details-price::before{
    content: 'from';
    display: block;
    font-size: 10px;
    margin-bottom: 6px;
}
.item-details-view::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border:2px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    transform: rotate(45deg);
    margin-left: 15px;
}
/*********************************************body-hover**********************************************/
.tour-item-link:hover .item-details{
    opacity: 1;
    bottom: 30px;
    transition-duration: 0.7s;
}
.tour-item-link:hover .item-header{
    color: #F26522;
}
/**********************************************footer***************************************************/
.copyright{
    font-size: 12px;
    display: block;
    padding-bottom: 15px;
    margin-top: 42px;
    text-align: center;
}
/**********************************************clearfix*************************************************/
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
