/********************************************main***************************************************/
.page-bg{
    font-family: 'Ubuntu', sans-serif;
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
.header-bg{
    background: rgba(0, 0, 0, 0.4);
}
.header-container{
    width: 1214px;
    margin: 0 auto;
    padding: 18px 0;
}
/********************************************header****************************************************/
.header-logo-link{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    float: left;
    display: inline-block;
}
.header-icons-wrap{
    float: right;
}
.header-icons-link {
    width: 30px;
    height: 20px;
    background: url("../img/css_sprites.png") no-repeat;
    margin-right: 18px;
}
.calendar{
    background-position: -20px -255px;
}
.forum{
    background-position: -20px -315px;
 }
.journey{
    background-position: -20px -375px;
}
.header-icons-link{
    display: inline-block;
}
.header-text{
    float: right;
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 3px;

}
.header-link{
    color: #FFFFFF;
 }
/*********************************************header-hover**********************************************/
.header-logo-heading:hover{
    font-weight: bold;
    color: #3CB878;
}
.header-link:hover{
    color: #3CB878;
}
.calendar:hover{
    background-position: -20px -75px;
}
.forum:hover{
   background-position: -20px -135px;
}
.journey:hover{
    background-position: -20px -195px;
}
/*********************************************header-psevdo*********************************************/
.header-text::before{
    content: '';
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    width: 1px;
    height: 19px;
    float: left;
    margin-right: 28px;
}
/*********************************************body****************************************************/
.body-container{
    background: #FFFFFF;
    width: 322px;
    margin: 0 auto;
    padding: 30px 60px;
    transform: translateY(calc((100vh - 58px - 597px)/2) );
}
.span-wrap{
    margin-bottom: 19px;
}
.singup{
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
}
.singup::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 30px;
    background: #3CB878;
}
.login{
    float: right;
    color: #3CB878;
}
.form-field{
    box-sizing: border-box;
    width:100%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 9px;
    outline: none;
}
.form-field::placeholder{
    font-size: 14px;
    color: #BEBEBE;
}
.form-field:focus{
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.21);
}
.facebook-link{
    background: #305DB8;
    width: 157px;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 2px;
    float: left;
}
.facebook-link-img{
    width: 30px;
    height: 20px;
    background: url("../img/css_sprites.png") no-repeat;
    background-position: 0 -433px;
    display: inline-block;
    margin-bottom: -2px;
    border: #305DB8;
}
.facebook-link-text{
    padding: 17px 18px;
    display: inline-block;
}
.facebook-link-text::before{
    content: '';
    display: inline-block;
    background: #0A162F;
    opacity: 0.1;
    width: 1px;
    height: 16px;
    float: left;
    margin-right: 16px;
}
.google-link{
    background: #DF4A32;
    width: 157px;
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    float: right;
}
.google-link-img{
    width: 30px;
    height: 20px;
    background: url("../img/css_sprites.png") no-repeat;
    background-position: -16px -17px;
    display: inline-block;
    margin-left: 12px;
    margin-bottom: -2px;
}
.google-link-text{
    margin: 17px 20px;
    display: inline-block;
}
.google-link-text::before{
    content: '';
    display: inline-block;
    background: #0A162F;
    opacity: 0.1;
    width: 1px;
    height: 16px;
    float: left;
    margin-right: 18px;
}
.some-text-line{
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 16px;
    display: block;
}
.some-text-line::before{
    content: '';
    display: inline-block;
    width: 135px;
    height: 1px;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 8px;
    margin-right: 19px;
    vertical-align: top;

}
.some-text-line::after{
    content: '';
    display: inline-block;
    width: 135px;
    height: 1px;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 8px;
    margin-left: 19px;
    vertical-align: top;
}
.label-wrap{
    display: block;
    margin-top: 16px;
    margin-bottom: 6px;
    position:relative;
}
.singup{
    font-size: 20px;
    color: #434343;
}
.button-submit{
    width: 100%;
    background: #3CB878;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 21px;
}
.label-text{
    margin-left: 10px;
    font-size: 14px;
    color: #434343;
    position: absolute;
    left:15px;
}
.label-text-agree{
    font-size: 14px;
    color: #3CB878;
    position: absolute;
    left:90px;
}
.checkbox{
    display: none;
}
.checkbox-border{
    width: 20px;
    height: 20px;
    /*background: red;*/
    position: absolute;
    top:-2px;
    left: -2px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;

}
.checkbox:checked ~ .custom-checkbox{
    display: inline-block;
}
.custom-checkbox{
    display: none;
    width: 14px;
    height: 6px;
    border: 2px solid transparent;
    border-top-color: #3CB878;
    border-right-color: #3CB878;
    transform: rotate(134deg);
    vertical-align: top;
}
.button-submit:hover{
    cursor: pointer;
}
.empty-span{display: inline-block}
/**********************************************clearfix*************************************************/
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
