.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.show{
    display: block;
}
.stop{
    display: flex;
    margin:  10px auto;
    background: red;
}
.start{
    display: flex;
    margin:  10px auto;
    background: green;
}
