/************************************main**************************************/
body{
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;

}
.container-max{
    /*width: 1900px;*/
    /*width: 100%;*/
}
.align-text-right{
    text-align: right;
}

/*******************************************header**********************************/
.header{
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-link{
    display: flex;
    align-items: center;
}
.header-logo-img{
    margin: 22px 27px;
    width: 27px;
    height: 27px;
}
.header-logo-title{
    display: inline-flex;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: bold;
}
.header-nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.header-nav-link{
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    /*margin-right: 35px;*/
}
.header-search{
    display: flex;
    justify-content: center;
    background: #000000;
    /*width: 68px;*/
    padding: 27px;
}
/*******************************************header:hover**********************************/
.header-nav-link:hover, .header-logo-title:hover{
    color: #14B9D5;
}
/***************************************latest-news*************************************/
.latest-news{
    background-image: url(../img/header-background.png);
    padding: 164px 0 68px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.latest-news-title{
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    margin: 0 auto 44px;
}
/***************************************latest-news-buttons*************************************/
.latest-news-btn-subscribe{
    background: #89CA62;
    width: 170px;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 19px;
    color: #FFFFFF;
    font-weight: 600;
}
.latest-news-btn-best{
    background: #14B9D5;
    width: 170px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 19px;
    color: #FFFFFF;
    font-weight: 600;
}
.latest-news-btn-subscribe:hover, .latest-news-btn-best:hover{
    cursor: pointer;
}
/***************************************most-popular*************************************/
.most-popular{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    align-items: center;
    padding-top: 50px;

}
.most-popular-title{
    display: flex;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 50px;
    justify-content: center;

}
.container-medium{
    width: 1170px;
}
.most-popular-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:space-between;
    height: 860px;
}
.most-popular-item{
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 370px;
    margin-bottom: 20px;

}
.most-popular-sub-title {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    background: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

/**********************************popular-clients*****************************************/
.popular-clients{
    background-image: url(../img/parallax-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -150px;
    padding-top:106px;
    display: grid;
    grid-row-gap: 106px;

}
.popular-clients-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
}
.popular-clients-title::after {
    content: '';
    display: block;
    width: 60px;
    border-bottom: 3px solid  #18B4CF;
    margin-top: 87px;
}
.popular-clients-wrap{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    padding-bottom: 128px;
    margin: 0 auto;
    grid-column-gap: 60px;
    align-self: center;

}
.popular-clients-logo{
    align-self: center;
}
/****************************************rated-galary**********************/
.rated-galary-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 48px 0;
}
.rated-galary-wrap{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.rated-galary-item {
    max-width: 100%;
}
/******************************************news************************************/
.news-title{
    display: flex;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 50px 0;
    justify-content: center;
}
.news-galary-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 45px;
    margin: 0 auto;
}
.gelery-item-big
{
    grid-column: span 3;
    display: grid;
    grid-template-columns:3fr 2fr;
}
.gelery-item-peer {
    grid-column: span 2;
}
.gelery-item-general {
    background: #F9F7F7;
}
.news-sub-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 15px 0 ;
}
.news-sub-desc{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
}
.news-sub-title-top{
    margin-top: 41px;
}
.news-sub-desc-top{
    display: flex;
    justify-content: right;
}
.align-text-center{
    text-align: center;
}
.news-galary-img{
    width: 100%;
}
.news-text-wrap{
    margin: 15px 27px 0 10px;
}
/****************************************footer*****************************************/
.footer-bg{
    background: #000000;
    padding: 30px 0;
    margin-top: 70px;
}
.footer-container{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width:1170px;
    margin: 0 auto;
}
.copyright{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    display: inline-block;
}
