/**********************************add fonts to all browser****************************************/
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot');
    src: local('Arimo-Regular'),
    url('../fonts/Arimo-Regular.woff') format('woff'),
    url('../fonts/Arimo-Regular.woff2') format('woff2'),
    url('../fonts/Arimo-Regular.ttf') format('truetype'),
    url('../fonts/Arimo-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo700.eot');
    src: local('Arimo700'),
    url('../fonts/Arimo700.woff') format('woff'),
    url('../fonts/Arimo700.woff2') format('woff2'),
    url('../fonts/Arimo700.ttf') format('truetype'),
    url('../fonts/Arimo700.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
