/************************************main**************************************/
body{
    font-family:  'Open Sans', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-weight: 600;*/

}
.header{
    background-image: url("../img/header_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:  596px;
}
.container{
    width: 1024px;
}
.header-wrap{
    background: #FFFFFF;
    margin: 0 auto;
    display: flex;
    /*width: 100%;*/
}
.header-logo-link{
    display: flex;
}
.header-title{
    margin: 22px 27px;
}
.bg{
    background: black;
    height: 426px;
    opacity: 0.8;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}



/*******************************************header**********************************/

/****************************************footer*****************************************/
