/********************************************main***************************************************/
.container{
    font-family: 'Arimo';
    width: 1192px;
    padding: 22px 29px 32px 20px;
    background: #3A4965;
    margin: 0 auto;
}
.table-price{
    background: #FAFAFA;
    width: 100%;
    border-collapse: collapse;
}
.text-decor{
    text-transform: uppercase;
    color: #484848;
    text-align: center;
}

.table-price-tbody-cell {
    padding: 25px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #484848;
    border-right: 1px solid #cecece;
}
.table-price-thead-cell{
    padding-top: 20px
}
.table-price-tbody-background:nth-child(odd){
    background: #F2F2F2;
}
.table-price-tbody-background:nth-child(even) {
    background: #E3E3E3;
}
/*******************************************header**********************************/
.pricing-plan-choose-header{
    vertical-align: middle;
}
.pricing-plan-choose{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}
.table-price-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}
.pricing-plan-header{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 0 18px;
}
.pricing-plan-cost{
    font-weight: bold;
    font-size: 60px;
    align-items: center;
    padding: 35px 0 4px 35px;
    color: #484848;
}
.table-price-position-absolute{
    position: relative;
}
.pricing-plan-cost-cent{
    font-weight: bold;
    font-size: 24px;
    color: #484848;
}
.pricing-plan-cost-per{
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
    position: absolute;
    top:47px;
    left:144px;
}
.table-icon{
    margin-right: 10px;
    color: #848484;
    font-size: 24px;
}
/*******************************************button**********************************/
.footer-button{
    display: inline-block;
    width: 195px;
    box-sizing: border-box;
    padding: 15px 0 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}
.pricing-plan{
    background: #484848;
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);*/
}
.pricing-plan-standart{
    background:#89C331;
    /*border-bottom: 9px solid #79B027;*/
}
.pricing-plan-ultimate{
    background: #F04A56;
}
.pricing-plan-premium{
    background: #20807C;
}
.table-price-bg-dark{
    background: #DDDDDD;
}
.table-price-bg-light{
    background: #EEEEEE;
}
.pricing-plan-premium-body{
    border-bottom: 9px solid #16736F;
}
.pricing-plan-ultimate-body{
    border-bottom: 9px solid #DF3A46;
}
.pricing-plan-standart-body{
    border-bottom: 9px solid #79B027;
}
.pricing-plan-body{
    border-bottom: 9px solid #404040;
}
/*******************************************button-hover*****************************/
.footer-button:hover {
    color: blue;
}